<ion-view view-title="Profile">
    <ion-nav-bar class="bar-assertive">
        <ion-nav-buttons side="left">
            <button class="button button-clear" ng-click="back()">
                <i class="ion-chevron-left"></i>
            </button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content>
        <ion-list>
            <ion-item class="item-icon-left">
                <img ng-src="https://pbs.twimg.com/profile_images/479090794058379264/84TKj_qa.jpeg" class="profilePhoto"><label class="profileName">Jose Luis</label>
            </ion-item>
            <div class="item item-icon-left">
                <i class="icon ion-egg"></i>Couch Potatoe
            </div>
            <div>
                <label class="item item-divider">Rank</label>
                <div class="padding">
                    <h3>$300.00</h3>
                    <h3>20 km</h3>
                </div>
            </div>
            <div>
                <label class="item item-divider item-icon-right">My Journeys<i class="icon ion-plus-round"></i></label>
                <div class="padding">
                    <label class="item"><i class="icon ion-arrow-right-b"></i>  Cultural Route</label>
                    <label class="item"><i class="icon ion-arrow-right-b"></i>  Indoor Route</label>
                    <label class="item"><i class="icon ion-arrow-right-b"></i>  Night Route</label>
                </div>
            </div>
            <div>
                <label class="item item-divider item-icon-right">My Creations<i class="icon ion-plus-round"></i></label>
                <div class="padding">
                    <label class="item"><i class="icon ion-arrow-right-b"></i>  Weekend Route</label>
                    <label class="item"><i class="icon ion-arrow-right-b"></i>  Raining Route</label>
                    <label class="item"><i class="icon ion-arrow-right-b"></i>  BF Route</label>
                </div>
            </div>
        </ion-list>
    </ion-content>
</ion-view>