<ion-view view-title="Settings">
    <ion-content>
        <div class="list">
            <ion-item class="item-icon-left item-icon-right" href="#/exploreSettings">
                <i class="icon ion-person-stalker icon-assertive"></i>Explore
                <i class="icon ion-chevron-right icon-assertive"></i>
            </ion-item>
            <ion-item class="item-icon-left item-icon-right" href="#/touristMeSettings">
                <i class="icon ion-paper-airplane icon-assertive"></i>Tourist Me
                <i class="icon ion-chevron-right icon-assertive"></i>
            </ion-item>
            <label class="item item-toggle item-icon-left">
                <i class="icon ion-chatbox icon-assertive"></i>Notifications
                <label class="toggle toggle-assertive">
                    <input type="checkbox">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </label>
            <ion-item class="item-icon-left item-icon-right">
                <i class="icon ion-person-add icon-assertive"></i>Invite Friends
                <i class="icon ion-chevron-right icon-assertive"></i>
            </ion-item>
            <ion-item class="item-icon-left item-icon-right">
                <i class="icon ion-social-facebook icon-assertive"></i>Connect with Facebook
                <i class="icon ion-chevron-right icon-assertive"></i>
            </ion-item>
        </div>
    </ion-content>
</ion-view>